{% extends '@EsolAdmin/admin_base.html.twig' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 bg-light text-right">
                <button type="button" class="btn btn-primary" ><a href="{{ path('esol.location-create') }}"><i class="bi bi-plus"></i></a></button>
                <button type="button" class="btn btn-warning"><a href="{{ path('esol.location-list') }}"><i class="bi bi-list"></i></a></button>
            </div>
        </div>
    </div>
    <div class="content_box">{% block content_box %}{% endblock %}</div>
{% endblock %}