{% extends '@EsolLocation/base.html.twig' %}
{% block content_box %}
    <div class="city-create">
        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="cityName" aria-describedby="emailHelp" placeholder="Enter City Name">
            </div>
            <div class="form-group">
                <label for="code">Code</label>
                <input type="text" class="form-control" id="cityCode" placeholder="Enter City Code">
            </div>
            <div class="form-group">
                <label for="country">Country</label>
                <select class="form-control" id="sel1">
                    {% for city in cities %}
                        <tr>
                            <option>{{ city.name }}</option>
                        </tr>
                    {% endfor %}
                </select>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}