{% extends '@EsolLocation/base.html.twig' %}
{% block content_box %}
    <table class="table">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Country Name</th>
            <th scope="col">Edit</th>
        </tr>
        <tbody>
    {% for city in cities %}
        <tr>
            <th scope="row">{{ city.id }}</th>
            <td>{{ city.name }}</td>
            <td>{{ city.country.name }}</td>
            <td><a href="{{ path('esol.location-create') }}"><i class="bi bi-pencil-square"></i></a></td>


        </tr>
    {% endfor %}
        </tbody>
    </table>
{% endblock %}